In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

## TASK 1

In [2]:
stud_mat = pd.read_csv("student-mat.csv")
stud_por = pd.read_csv("student-por.csv")
# we read the data

In [3]:
stud_mat_expanded = (stud_mat.iloc[:, 0]).str.split(";", expand=True)
stud_por_expanded = (stud_por.iloc[:, 0]).str.split(";", expand=True)
stud_mat_expanded.head()
# we split the data to have proper pandas data frame

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32
0,GP,"""F""",18,"""U""","""GT3""","""A""",4,4,"""at_home""","""teacher""","""course""","""mother""",2,2,0,"""yes""","""no""","""no""","""no""","""yes""","""yes""","""no""","""no""",4,3,4,1,1,3,6,"""5""","""6""",6
1,GP,"""F""",17,"""U""","""GT3""","""T""",1,1,"""at_home""","""other""","""course""","""father""",1,2,0,"""no""","""yes""","""no""","""no""","""no""","""yes""","""yes""","""no""",5,3,3,1,1,3,4,"""5""","""5""",6
2,GP,"""F""",15,"""U""","""LE3""","""T""",1,1,"""at_home""","""other""","""other""","""mother""",1,2,3,"""yes""","""no""","""yes""","""no""","""yes""","""yes""","""yes""","""no""",4,3,2,2,3,3,10,"""7""","""8""",10
3,GP,"""F""",15,"""U""","""GT3""","""T""",4,2,"""health""","""services""","""home""","""mother""",1,3,0,"""no""","""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""yes""",3,2,2,1,1,5,2,"""15""","""14""",15
4,GP,"""F""",16,"""U""","""GT3""","""T""",3,3,"""other""","""other""","""home""","""father""",1,2,0,"""no""","""yes""","""yes""","""no""","""yes""","""yes""","""no""","""no""",4,3,2,1,2,5,4,"""6""","""10""",10

In [4]:
key = ["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"]
# we know from the R file attached to the downloaded .zip files,
# that each student is uniquely distinguished by the key above

In [5]:
mat_column_names = stud_mat.columns.tolist()[0]
mat_column_names_list = mat_column_names.split(";")
for i in range(len(mat_column_names_list)):
    if mat_column_names_list[i] not in key:
        mat_column_names_list[i] += "_mat"
stud_mat_expanded.columns = mat_column_names_list

In [6]:
por_column_names = stud_por.columns.tolist()[0]
por_column_names_list = por_column_names.split(";")
for i in range(len(por_column_names_list)):
    if por_column_names_list[i] not in key:
        por_column_names_list[i] += "_por"
stud_por_expanded.columns = por_column_names_list
por_column_names_list
# we want to have proper column names
# moreover, we merge the tables by the key
# and distinguish other columns whether it's math or portuguese

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian_por',
 'traveltime_por',
 'studytime_por',
 'failures_por',
 'schoolsup_por',
 'famsup_por',
 'paid_por',
 'activities_por',
 'nursery',
 'higher_por',
 'internet',
 'romantic_por',
 'famrel_por',
 'freetime_por',
 'goout_por',
 'Dalc_por',
 'Walc_por',
 'health_por',
 'absences_por',
 'G1_por',
 'G2_por',
 'G3_por']

In [7]:
students = pd.merge(stud_mat_expanded, stud_por_expanded, on=key, how="outer")
# the resulting merged "students" data frame
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian_mat,traveltime_mat,studytime_mat,failures_mat,schoolsup_mat,famsup_mat,paid_mat,activities_mat,nursery,higher_mat,internet,romantic_mat,famrel_mat,freetime_mat,goout_mat,Dalc_mat,Walc_mat,health_mat,absences_mat,G1_mat,G2_mat,G3_mat,guardian_por,traveltime_por,studytime_por,failures_por,schoolsup_por,famsup_por,paid_por,activities_por,higher_por,romantic_por,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""at_home""","""other""","""home""","""mother""",2,4,1,"""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""no""",3,1,2,1,1,1,2,"""7""","""10""",10,"""mother""",2,4,0,"""yes""","""yes""","""yes""","""yes""","""yes""","""no""",3,1,2,1,1,1,4,"""13""","""13""",13
1,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""other""","""other""","""course""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""yes""",NaN,"""yes""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""mother""",3,1,1,"""no""","""no""","""no""","""yes""","""yes""","""yes""",5,5,5,1,1,1,2,"""8""","""9""",9
2,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""other""","""other""","""reputation""","""mother""",1,2,2,"""yes""","""yes""","""no""","""no""","""no""","""yes""","""yes""","""yes""",3,3,4,2,4,5,2,"""8""","""6""",5,"""mother""",1,2,0,"""yes""","""yes""","""no""","""no""","""yes""","""yes""",3,3,4,2,4,5,2,"""13""","""11""",11
3,GP,"""F""",15,"""R""","""GT3""","""T""",2,2,"""at_home""","""other""","""reputation""","""mother""",1,1,0,"""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""no""","""no""",4,3,1,1,1,2,8,"""14""","""13""",13,"""mother""",1,1,0,"""yes""","""yes""","""no""","""yes""","""yes""","""no""",4,3,1,1,1,2,8,"""14""","""13""",12
4,GP,"""F""",15,"""R""","""GT3""","""T""",2,4,"""services""","""health""","""course""","""mother""",1,3,0,"""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""no""",4,3,2,1,1,5,2,"""10""","""9""",8,"""mother""",1,3,0,"""yes""","""yes""","""no""","""yes""","""yes""","""no""",4,3,2,1,1,5,2,"""10""","""11""",10

## TASK 2

In [8]:
# Task 2.1

students["final_mat"] = pd.to_numeric(students["G3_mat"], errors="coerce").astype("Int64")*5
students["final_por"] = pd.to_numeric(students["G3_por"], errors="coerce").astype("Int64")*5
# we multiply by 5, because in G3 the maximum is 20
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian_mat,traveltime_mat,studytime_mat,failures_mat,schoolsup_mat,famsup_mat,paid_mat,activities_mat,nursery,higher_mat,internet,romantic_mat,famrel_mat,freetime_mat,goout_mat,Dalc_mat,Walc_mat,health_mat,absences_mat,G1_mat,G2_mat,G3_mat,guardian_por,traveltime_por,studytime_por,failures_por,schoolsup_por,famsup_por,paid_por,activities_por,higher_por,romantic_por,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por,final_mat,final_por
0,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""at_home""","""other""","""home""","""mother""",2,4,1,"""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""no""",3,1,2,1,1,1,2,"""7""","""10""",10,"""mother""",2,4,0,"""yes""","""yes""","""yes""","""yes""","""yes""","""no""",3,1,2,1,1,1,4,"""13""","""13""",13,50,65
1,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""other""","""other""","""course""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""yes""",NaN,"""yes""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"""mother""",3,1,1,"""no""","""no""","""no""","""yes""","""yes""","""yes""",5,5,5,1,1,1,2,"""8""","""9""",9,<NA>,45
2,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""other""","""other""","""reputation""","""mother""",1,2,2,"""yes""","""yes""","""no""","""no""","""no""","""yes""","""yes""","""yes""",3,3,4,2,4,5,2,"""8""","""6""",5,"""mother""",1,2,0,"""yes""","""yes""","""no""","""no""","""yes""","""yes""",3,3,4,2,4,5,2,"""13""","""11""",11,25,55
3,GP,"""F""",15,"""R""","""GT3""","""T""",2,2,"""at_home""","""other""","""reputation""","""mother""",1,1,0,"""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""no""","""no""",4,3,1,1,1,2,8,"""14""","""13""",13,"""mother""",1,1,0,"""yes""","""yes""","""no""","""yes""","""yes""","""no""",4,3,1,1,1,2,8,"""14""","""13""",12,65,60
4,GP,"""F""",15,"""R""","""GT3""","""T""",2,4,"""services""","""health""","""course""","""mother""",1,3,0,"""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""yes""","""no""",4,3,2,1,1,5,2,"""10""","""9""",8,"""mother""",1,3,0,"""yes""","""yes""","""no""","""yes""","""yes""","""no""",4,3,2,1,1,5,2,"""10""","""11""",10,40,50

In [9]:
# Task 2.2

mat_stud = students.dropna(subset=["final_mat"])
weekly_mat = mat_stud.groupby("studytime_mat")["final_mat"].agg(["min", "max", "mean", "median"])
weekly_mat

               min  max       mean  median
studytime_mat
1                0   95  49.363636    50.0
2                0   95  50.541872    55.0
3                0   95  57.313433    60.0
4                0  100  56.296296    60.0

In [10]:
por_stud = students.dropna(subset=["final_por"])
weekly_por = por_stud.groupby("studytime_por")["final_por"].agg(["min", "max", "mean", "median"])
weekly_por

               min  max       mean  median
studytime_por
1                0   90  54.050926    55.0
2                0   95  60.519481    60.0
3               40   90  66.173469    65.0
4               30   95  65.285714    65.0

In [11]:
# we can say that there is a difference in final grades, whether you study less than 5 hours,
# which are groups 1 and 2, or more than 5 hours, which are groups 3 and 4 (and they of course
# have better results; the differences between studying 5-10 hours (group 3)
# and studying more than 10 hours (group 4) are mostly insignificant

In [12]:
# Task 2.3

mat_abs = students.dropna(subset=["absences_mat"])
mat_covariance = mat_abs["age"].cov(mat_abs["absences_mat"])
mat_variance_age = mat_abs["age"].astype("Int64").var(axis=0)
mat_variance_absences = mat_abs["absences_mat"].astype("Int64").var(axis=0)
(mat_covariance / ((mat_variance_age * mat_variance_absences) ** 0.5))

np.float64(0.17658181855558286)

In [13]:
por_abs = students.dropna(subset=["absences_por"])
por_covariance = por_abs["age"].cov(por_abs["absences_por"])
por_variance_age = por_abs["age"].astype("Int64").var(axis=0)
por_variance_absences = por_abs["absences_por"].astype("Int64").var(axis=0)
(por_covariance / ((por_variance_age * por_variance_absences) ** 0.5))

# we see that there is a slight (nearly not visible) correlation, that
# the bigger the age, the bigger number of absences

np.float64(0.14506534463300422)

## TASK 3

In [14]:
# on this task we will only consider the math's class, because
# portugal's is analogous, so we focus on a variable "mat_stud" from before (Task 2.2)

# Task 3.1

In [15]:
alc_influence = mat_stud.groupby(["Dalc_mat", "Walc_mat"])["final_mat"].agg(["mean", "count"])
alc_influence
# it seems that the influence of alcohol is not as significant as it could seem,
# even though there are some critically low values, but it's usually just a few or even one person;
# the biggest influence of the alcohol is where the daily alcohol consumption is 2,
# which could lead to hypothesis that low everyday alcohol consumption could be a
# dangerous way of dealing with everyday problems (where probably not too long time ago
# it wasn't the case; and people from group 3-5 may be "used to" function under regular
# alcohol consumption)

# by any means it's not based on personal experience

                        mean  count
Dalc_mat Walc_mat
1        1         53.863636    154
         2         52.028986     69
         3         55.232558     43
         4           50.9375     16
         5             53.75      4
2        1               0.0      2
         2         41.052632     19
         3         53.275862     29
         4         41.590909     22
         5              46.0      5
3        2              60.0      1
         3             48.75      8
         4         55.909091     11
         5              50.0      6
4        2              55.0      1
         3              25.0      1
         4         56.666667      3
         5             48.75      4
5        5         53.333333      9

In [16]:
# Task 3.2

pd.set_option("future.no_silent_downcasting", True)
mat_stud2 = mat_stud.replace({'"yes"': 1, '"no"': 0})
mat_stud2.head()
# we set "no silent downcasting" because otherwise there is a warning

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian_mat,traveltime_mat,studytime_mat,failures_mat,schoolsup_mat,famsup_mat,paid_mat,activities_mat,nursery,higher_mat,internet,romantic_mat,famrel_mat,freetime_mat,goout_mat,Dalc_mat,Walc_mat,health_mat,absences_mat,G1_mat,G2_mat,G3_mat,guardian_por,traveltime_por,studytime_por,failures_por,schoolsup_por,famsup_por,paid_por,activities_por,higher_por,romantic_por,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por,final_mat,final_por
0,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""at_home""","""other""","""home""","""mother""",2,4,1,1,1,1,1,1,1,1,0,3,1,2,1,1,1,2,"""7""","""10""",10,"""mother""",2,4,0,1,1,1,1,1,0,3,1,2,1,1,1,4,"""13""","""13""",13,50,65
2,GP,"""F""",15,"""R""","""GT3""","""T""",1,1,"""other""","""other""","""reputation""","""mother""",1,2,2,1,1,0,0,0,1,1,1,3,3,4,2,4,5,2,"""8""","""6""",5,"""mother""",1,2,0,1,1,0,0,1,1,3,3,4,2,4,5,2,"""13""","""11""",11,25,55
3,GP,"""F""",15,"""R""","""GT3""","""T""",2,2,"""at_home""","""other""","""reputation""","""mother""",1,1,0,1,1,1,1,1,1,0,0,4,3,1,1,1,2,8,"""14""","""13""",13,"""mother""",1,1,0,1,1,0,1,1,0,4,3,1,1,1,2,8,"""14""","""13""",12,65,60
4,GP,"""F""",15,"""R""","""GT3""","""T""",2,4,"""services""","""health""","""course""","""mother""",1,3,0,1,1,1,1,1,1,1,0,4,3,2,1,1,5,2,"""10""","""9""",8,"""mother""",1,3,0,1,1,0,1,1,0,4,3,2,1,1,5,2,"""10""","""11""",10,40,50
5,GP,"""F""",15,"""R""","""GT3""","""T""",3,3,"""services""","""services""","""reputation""","""other""",2,3,2,0,1,1,1,1,1,1,1,4,2,1,2,3,3,8,"""10""","""10""",10,"""other""",2,3,0,0,1,1,1,1,1,4,2,1,2,3,3,2,"""13""","""13""",13,50,65

In [17]:
covariance = mat_stud2["romantic_mat"].cov(mat_stud2["higher_mat"])
variance_romantic = mat_stud2["romantic_mat"].astype("Int64").var(axis=0)
variance_higher = mat_stud2["higher_mat"].astype("Int64").var(axis=0)
(covariance / ((variance_romantic * variance_higher) ** 0.5))

# here we calculate the correlation. there is slight-to-none indication,
# that if a person is in a relationship, then he/she is less likely to
# begin higher education

np.float64(-0.1099841050084016)

In [18]:
covariance_fin = mat_stud2["romantic_mat"].cov(mat_stud2["final_mat"])
variance_final = mat_stud2["final_mat"].astype("Int64").var(axis=0)
(covariance_fin / ((variance_romantic * variance_final) ** 0.5))
# the similar result (slight-to-none indication) is with the correlation between being 
# in relationship and having worse grades

np.float64(-0.12379045993516216)